.dashboard {
    background-color: rgba(199, 45, 45, 0.952);
    // border-radius: 15px;
}

.fs-3 {
    font-weight: bold;
    color: white;
}

.list-group-item {
    background-color: rgba(199, 45, 45, 0.952);
    color: white;
    border-color: rgba(255, 255, 255, 0);
}