.table {
    margin-top: 25px;
    max-width: 80%;
}

.containerAbmLugar {
    -webkit-box-shadow: 2px 2px 7px #999;
    -moz-box-shadow: 2px 2px 7px #999;
    filter: shadow(color=#999999, direction=135, strength=4);
    border-radius: 10px;
}

.modal-content {
    min-width: 700px !important;
}

.modal-body {
    max-height: 200px;
    overflow-y: scroll;
}