<div class="container-fluid vh-100 containerAbmLugar pt-4">
    <button type="button" class="btn btn-success">Agregar Lugar</button>
    <form class="d-flex pt-3">
        <input class="form-control me-2" type="search" placeholder="Buscar lugar" aria-label="Search">
    </form>

    <table class="table mx-auto">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>